.hero {
  padding: 188px 0;
  background-color: var(--navy-blue);
}

.title {
  max-width: 496px;
  margin: 0 auto 48px;
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  background-color: var(--iris);
  color: var(--white);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}
