.portfolio{
  padding: 120px 0;
  background-color: var(--white);
}

.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 48px 24px;
}

.portfolio .card-content{
  padding: 32px 16px;
  text-align: left;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio .header-small{
  margin-bottom: 8px;
}

.portfolio .header-small{
  text-align: left;
}